.main-cart{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.time-count-div{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.times{
    color: rgb(0, 34, 255);
    font-size: 20px;
    font-weight: 800;
}

.time-count{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-das{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: rgb(243, 241, 241);
    background-color: brown;
    font-weight: 900;
}
.btn-das:hover{
    background-color: rgb(218, 99, 99);
    color: black;
    transition: all ease-in-out 0.7s;
}
.btn-div-das{
    width: 50%;
    margin: auto;
    margin-top: 30px;
}