.data-component{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px;
}

.all-data{
    margin-left: 10%;
}
.all-card{
    background-color: rgb(207, 209, 212);
}
.all-card-div{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3 ,1fr);
}
.lofo-div{
    display: flex;
    margin-top: 20px;
}
.lofo-div h1{
    color: maroon;
}
.brak-mar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    padding-left: 10px;
    margin: auto;
}




/* mobil divise  */
@media screen and (max-width:688px) {
    .data-component{
       display: block;
       justify-content: center;
    }
    .all-card-div{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1 ,1fr);
    }
    .all-card{
        margin-top: 100px;
        width: 90%;
        margin: auto;
    }
}

/* tablrt divise  */
@media screen and (min-width: 689px) and (max-width:992px){
    .data-component{
        display: block;
        justify-content: center;
     }
     .all-card-div{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2 ,1fr); 
    }
    .all-card{
        margin-top: 100px;
        width: 90%;
        margin: auto;
    }
}