.data-component{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px;
}

.all-data{
    margin-left: 10%;
}
.all-card{
    background-color: rgb(207, 209, 212);
}
.all-card-div{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3 ,1fr);
}
.lofo-div{
    display: flex;
    margin-top: 20px;
}
.lofo-div h1{
    color: maroon;
}
