.user-name{
    display: flex;
    padding: 20px;
    margin: 0;
    
    }
    .user-img{
        width: 70px;
        height: 70px;
    }
    .user-locat{
       margin-left: 5px
    }
    .user-locat h3{
        margin-bottom: -12px;
    }
    .user-bio{
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }
    .kg{
        font-size: 25px;
        font-weight: 800;
    }
    .age{
        margin-top: -10px;
    }