.game{
    width: 240px;
    border: 2px solid rgb(207, 188, 188);
    background-color: rgb(224, 229, 234);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(135, 110, 110);
}
.img-div{
    width: 240px;
    height: 260px;
}
.img-div img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.btn-ad{
    width: 100%;
    text-align: center;
   background-color:maroon ;
   color: rgb(255, 255, 255);
   padding:6px;
   border-radius: 10px;
}
.btn-ad:hover{
    background-color: aqua;
    color: black;
    transition: all ease-in-out 0.7s;
}
.time{
    color:rgb(243, 6, 6);
    font-weight: 600;
}